<% if resource.errors.any? %>
  <div class="text-center border px-4 py-3 rounded-md shadow-md bg-red-300 border-red-400 text-red-700">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class = "flex items-center justify-center h-screen bg-rose-100 ">
  <div class = "flex flex-col space-y-8">
    <div class="border bg-pink-50 rounded-xl py-12 px-40">

  <h2 class="text-4xl font-bold text-center mb-12">
  新規登録
  </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%#= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "username", class: "bg-white border rounded-xl py-4 px-12 mb-8" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "border bg-white rounded-xl py-4 px-12 mb-8" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "border bg-white rounded-xl py-4 px-12 mb-8" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "border bg-white rounded-xl py-4 px-12 mb-8" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "text-white border rounded-xl px-6 py-4 bg-blue-500 text-black mt-8" %>
  </div>
<% end %>

</div>

<%#= render "devise/shared/links" %>
</div>
</div>
