<div id="<%= dom_id(comment) %>" class="border-b border-gray-200 py-2">
  <div class="flex items-start justify-between">
    <div>
      <strong><%= comment.user.name %></strong>
      <p><%= comment.content %></p>
    </div>
    <% if current_user == comment.user %>
    <%= link_to proverb_comment_path(comment.proverb, comment), method: :delete, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" }, class: "text-pink-700 hover:underline" do %>
              <i class="fa-solid fa-trash text-2xl"></i>
    <% end %>
    <% else %>
      <%= turbo_frame_tag dom_id(comment, :reactions) do %>
        <%= render "reactions/like", reactable: comment %>
      <% end %>
    <% end %>
  </div>
</div>
