<header>
  <div class="bg-pink-50 text-xl p-6">
    <% if current_user %>
      <!-- 🔔 ログイン時のメニュー -->
      <div class="flex justify-between items-center px-12">
        <%= link_to "#", class: "flex flex-col items-center font-bold" do %>
          <i class="fa-solid fa-bell text-2xl"></i>
          <span class="text-sm mt-2">お知らせ</span>
        <% end %>

        <%= link_to "#", class: "flex flex-col items-center font-bold" do %>
          <i class="fa-regular fa-envelope text-2xl"></i>
          <span class="text-sm mt-2">メッセージ</span>
        <% end %>

        <%= link_to "#", class: "flex flex-col items-center font-bold" do %>
          <i class="fa-solid fa-users text-2xl"></i>
          <span class="text-sm mt-2">誰かとことわざを作る</span>
        <% end %>

        <%= link_to "#", class: "flex flex-col items-center font-bold" do %>
          <i class="fa-solid fa-user text-2xl"></i>
          <span class="text-sm mt-2">1人でことわざを作る</span>
        <% end %>

        <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "flex flex-col items-center font-bold" do %>
          <i class="fa-solid fa-bars text-2xl"></i>
          <span class="text-sm mt-2">メニュー</span>
    <% end %>
  </div>


    <% else %>
      <!-- 🏠 未ログイン時のメニュー -->
      <div class="flex justify-between items-center">
        <!-- 左端 -->
        <div>
          <%= link_to root_path do %>
            <i class="fa-solid fa-house text-2xl pl-8"></i>
          <% end %>
        </div>

        <!-- 右端 -->
        <div class="flex gap-6 pr-8">
          <%= link_to "新規登録", new_user_registration_path, class: "py-2 px-4 font-bold" %>
          <%= link_to "ログイン", "#", class: "py-2 px-4 font-bold" %>
          <%= link_to "ランキング", "#", class: "py-2 px-4 font-bold" %>
        </div>
      </div>
    <% end %>
  </div>
</header>

