<%= render "shared/flash_message" %>
<div class = "flex items-center justify-center min-h-screen bg-rose-100">
  <div class = "w-full flex flex-col space-y-8">
    <div class="mx-auto rounded-xl py-12 px-6 sm:px-10 md:px-15 lg:px-30
            w-full max-w-xl md:max-w-xl lg:max-w-xl border-0 sm:border bg-transparent sm:bg-pink-50">

      <div class = "flex flex-col items-center">
      <h2 class="text-4xl font-bold text-center mb-12">
        ログイン
      </h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-white border rounded-xl py-4 px-12 mb-8" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: "bg-white border rounded-xl py-4 px-12 mb-8" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "text-white border rounded-xl px-6 py-4 bg-blue-500 text-black mt-8" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%#= render "devise/shared/links" %>
